.register-authentication{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .register-content{
        width: 30%;
        height: 100%;
        background-image: url("../assets/iso-republic-colorful-bokeh-abstract-14-free-stock-photo.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center!important;
        text-align: center;
        padding-inline: 50px;

        h1{
            font-size: 3rem;
            font-weight: 700;
            color: white;
        }
        p{
            height: 100px;
            color: white;
            font-size: 1rem;
            word-spacing: 3px;
        }

        .login-btn{
            font-weight: 700;
            font-size: .9rem;
            border-radius: 20px;
            color: black;
            height: 40px;
            width: 150px;
            border: none!important;

            &:hover{
                background-color: rgb(232, 232, 232);
            }
        }
    }

    .register-authentication-form{
        width: 70%;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        gap: 10px;

        .logo1{
            font-size: 20px;
            font-weight: 1000;
            margin-bottom: 30px;


            span{
                color: rgb(0, 81, 255);
            }
        }

        h1{
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: 20px;

        }
        .icons{
            display: flex;
            justify-content: space-around;
            gap: 20px;

            button{
                padding: 0px 20px;
                height: 50px;
                background-color: white;
                border-radius: 30px;
                font-weight: 700;

                img{
                    width: 20px;
                    height: 20px;
                }

                &:hover{
                    background-color: rgb(232, 232, 232);
                }
            }

        }
        .or{
            display: flex;
            width: 40%;
            align-items: center;
            justify-content: center;
            gap: 10px;
            hr{
                width: 100%;
                border: 1px solid gray;
            }
        }

        .register-card{
            display: flex;
            flex-direction: column;
            width: 50%;
            gap: 10px;
            
            .form-input {
                width: 100%!important;
                border-radius: 30px!important;
                padding: 20px 25px!important;
                background-color: rgba(42, 94, 183, 0.155);
                border: none!important;
            }

            input::placeholder{
                color: rgb(46, 46, 46);
                font-weight: 700;
            }

            .register-btn{
                color: black;
                background-color: rgba(33,77,152);
                height: 50px !important;
                width: 40% !important;
                border-radius: 40px!important;
                color: white !important;
                font-size: 16px !important;
                font-weight: 700;
                align-self: center !important;

                &:hover{
                    background-color: rgb(18, 42, 84);
                    border: none!important;
                }
            }

        }


    }
}